
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
       url('../fonts/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
       url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
       url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaACond-Light';
  src: url('../fonts/ProximaNovaACond-Light.eot');
  src: url('../fonts/ProximaNovaACond-Light.woff2') format('woff2'),
       url('../fonts/ProximaNovaACond-Light.woff') format('woff'),
       url('../fonts/ProximaNovaACond-Light.ttf') format('truetype'),
       url('../fonts/ProximaNovaACond-Light.svg#ProximaNovaACond-Light') format('svg'),
       url('../fonts/ProximaNovaACond-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaA-Regular';
  src: url('../fonts/ProximaNovaA-Regular.eot');
  src: url('../fonts/ProximaNovaA-Regular.woff2') format('woff2'),
       url('../fonts/ProximaNovaA-Regular.woff') format('woff'),
       url('../fonts/ProximaNovaA-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNovaA-Regular.svg#ProximaNovaA-Regular') format('svg'),
       url('../fonts/ProximaNovaA-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

h3,button,h4,h5,{
    font-family: 'ProximaNova-Bold';
}

body{
    background-color: #f0f0f0;
    font-family: 'ProximaNovaA-Regular';
}
.navcontent1{
     display: flex;
     flex-direction: row;
     flex-flow: row;
     justify-content: flex-end;
}
.input-group-label{
    background-color: #FFCA28;
    color: #fff;
}
.content1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: row;
    font-size: 20px;
}
.feedback {
  background-color : #31B0D5;
  color: white;
  padding: 9px 22px;
  border-radius: 4px;
  border-color: #46b8da;
  
}
.underline{
    margin-bottom: 30px;
}
.lineone{
    height: 2.2px;
    background-color: #e51d2d;
    margin: 0;
}
.linetwo{
    height: 2.2px;
    background-color: #c1c1c1;
}
.socialicons{
    color: #fff;
}
#mybutton {
  position: fixed;
  bottom: 274px;
  left: 84%;
    width: 353px;
  margin-left: 14px;
  -webkit-transform: rotate(270deg);  /* to support Safari and Android browser */
  -ms-transform: rotate(270deg);      /* to support IE 9 */
  transform: rotate(270deg);
  
      
}
.offcanvaswrapper1{
    background-color: #BDBDBD;
    
}
.wrapper1{
    background-color: #fff;
}

.row{
    width: 100%
}
.reveal-modal-bg{position:fixed;}
.reveal-modal{position:fixed;}

.fullWidth {
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/*navsection*/

#nav1{
    background-color: #BDBDBD;
    
}
ul{
    overflow:inherit;
}
ul li{
    list-style: none;
    float: left;
    font-size: 10px;
    color: black;
    margin: 5px 10px 5px 0;
}

i{
    color: #E65100;
}
.nationwidelogo{
    width: 55%;
    margin: 5px 0px 5px 0px;
    margin-left: 1.4%;
}
.searchhold{
    width: 390px
}
.search{
    padding-right: 10px;
    
}
#searchbar{
    margin: 16px 0px 0px 0px;
}
/* Dropdown Button */
.dropbtn {
    background-color: #BDBDBD;
    color: white;
    padding: 7%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 39px
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #616161;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 124%;
    padding-left: 0px

}
.dropdown i{
    color: #424242;
    padding-left: 5%;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.show {display:block;}
.searchproduct{
    width: 212px
}
.button{
    background-color: #FFCA28;
    text-align: center;
    width: 93px
}
.button:hover, .button:focus {
    background-color: #FFE57F;
}

/*main nav*/
.offcanvaswrapper2{
    background-color: #e51d2d;
}
.firstpart{
     background-color: #e51d2d;
}
.logonat{
    padding: 0;

}

.mainnav{
    display: flex;
    justify-content: space-around;
    padding-top: 11px;
    margin-bottom: -2px;
    font-size: 20px;
}
.mainnavv{
    padding: -2px;
}
.centerdiv{
    text-align: center;
    
}
li{
    list-style-type: none;
    float: left;
    font-size: 9px;
    margin-top: 4px;
}

.icon{
    color:#fff;
}
a{
    color: #fff;
    font-size: 13px;
    margin-right: px
}
.home{
    color: #FFCA28;
}
.icon1{
    color: #fff;
}
@media screen and (max-width:680px) {
  ul.mainnav li:not(:first-child) {display: none;}
  ul.mainnav li.icon {
    float: right;
    display: inline-block;
    color: #fff;  
  }
}
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.mainnav.responsive li {
    float: none;
    display: inline;
  }
  ul.mainnav.responsive li a {
    display: block;
    text-align: left;
  }
}
.offcanvaswrapper3{
    width: 100%;
    position: relative;
}
.slide1{
    width: 100%;
    height: 500px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
#buttons{
    
    -webkit-transform: rotate(270deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(270deg);      /* to support IE 9 */
    transform: rotate(270deg);
  
}
.slidehead5{
    font-size: 12px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  width: 50%;
  height: 500px;
  background-color: rgba(255, 192, 0, 0.9);    
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; 
  border: 2px #fff solid;    
}
#buttons::before {
    content: " ";
    width: 160px;
    color: #fff;
    z-index: 1;
    position: absolute;
    border-top: 2px solid #fff;
    left: 0;
    top: 9px;
    left: -36px;
}

.active, .dot:hover {
  background-color: #FFCA28;
    z-index: 1;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.slidehead{
    font-size: 36px;
    padding-top: 21%;
    padding-left: 10%;
    font-family: 'ProximaNova-Bold';
}
.slideparag{
    font-size: 17px;
    padding-left: 10%;
    padding-bottom: 6px;
    
}
.slidehead5{
    font-size: 20px;
    padding-left: 10%;
    padding-bottom: 6px;
}

.slidebutton{
    margin-left: 10%;
    background-color: #000000;
    border-color: #fff;
    padding: 2px 2px;
    text-align: center;
    font-size: 17px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 16px;
    width: 144px;
    height: 40px;
    color: #fff;
    box-shadow: 0px 0px 15px 5px rgba(128, 128, 128, 0.75);
}
.backgrnd1{
    width: 100%;
}
.img2{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
#headprops{
    padding-top: 20px;
} 
.social{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-bottom: -13px;
}
.soctmedia i{
    position: relative;
    left: inherit;
    border: 1px solid;
    font-size: 16px;
    width:100%;
    text-align: center;
    margin: 3px;
    padding: 2px;
    
    
}
#header1{
    background-color: #e51d2d;
}
.firstdescrip1{
    background-color: #e51d2d;
    padding-top: 10px;
    
}
.firstdescrip2{
    background-color: #E65100;
    padding-top: 10px;
}
.firstdescrip3{
    background-color: #FFCA28;
    padding-top: 10px;
}
.firstdescripbutton{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2px;
    margin-left: 2px;
    border-color: #fff;
    text-align: center;
    font-size: 7px;
    margin-left: 20px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 16px;
    width: 104px;
    height: 50px;   
}

.partnerheading{
    font-size: 16px;
    margin-top: 27px;
    
}
.partner{
    margin-top: 10px;
    text-align: center;
    
}
.firstdescripbutton::-moz-focus-inner{
  padding : 0;
  border  : 0;
}
.haedtitle{
    font-size: 18px;
    margin-left: 20px;
    color: #fff;
    padding-top: 10px;
    margin-right: 20px;
}
.headpar{
    margin-left: 20px;
    color: #fff;
    font-size: 13px;
    margin-right: 20px;
}
.svgicons{
    padding-top: 10px;
    width: 50px;
}
.svghead{
    font-size: 14px;
    padding-top: 10px;
}
#partner1{
    border-spacing: 10px;
}

.productlists{
    padding-left: 90px;
    padding-bottom: 30px;
}
.productli{
    color: black;

}
.productli:hover, .productli:focus{
    color: #e51d2d;
}
.proddescrip{
    border-color: #050505;
    border-width: 0.5px solid;
    border: 0.5px solid #c1c1c1;
    border-top: none;
}
.productimages{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    border: 0.5px solid #c1c1c1;
    padding: 1.5px
    
}
.productimag{
    border-style: 0.5px;
    border-color: #bfbbbb;
    border-width: thick;
}
.productshead{
    font-size: 17px;
    padding-top: 10px;
    color: #e51d2d;
}
.productsparag{
    font-size: 14px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}
.newsbutton{
    
}
.imageproduct{
    background-color: #fff;
    border-style: 0.5px;
    border-color: #343434;
    border-width: 3px thick;
    text-align: center;    
}
.productsbutton{
    color: #FFCA28;
    border-style: solid;
    font-size: 15px;
    border-width: 2px;
    border-color: #FFCA28;
    width: 120px;
    height: 45px;
    margin-bottom: 36px;
    border-radius: 7px;
    margin-top: 20px;
}
.partnericons{
    background-color: #fff;
    padding-top: 14px;
    padding-bottom: 14px
}
.news1{
    background-color:#FFCA28; 
}
.news2{
    background-color: #E65100;
}
.newsimg1{
    width: 100%;
    height: 270px;
    
}
.newsimg{
    height: 270px;
}
.neww{
    padding: 0;
}
.newwimage{
    float: left;
    margin: auto;
    padding: 0;
    
}
.newwcontent{
    float: right;
    background-color: #FFCA28;
    height: 270px;
    color: black;
    
}
.paranew{
    font-size: 14px;
    padding-left: 8px
}
.newwcontent2{
    float: right;
    background-color: #E65100;
    height: 270px;
    color: #fff;
    
}
.newsdesc1{
    height: 200px;
    background-color:#FFCA28;
    
}
.newsdesc2{
    height: 200px;
    
}
.date{
    font-size: 16px;
    padding-top: 8%;
    font-family: 'ProximaNova-Bold';
    padding-left: 8px
}
.newshead{
    font-size: 24px;
    font-family: 'ProximaNova-Bold';
    padding-left: 8px
}
.newsbutton{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2px;
    border-color: #fff;
    padding: 2px 2px;
    text-align: center;
    font-size: 10px;
    margin-left: 0px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 16px;
    border-radius: 6px;
    width: 114px;
    height: 40px;
    margin-top: 10px;
}
.neilogo{
    width: 50%;
    height: 110px;
    margin-top: 51px;
    margin-left: 43px;
}
.neil{
    height: 350px;
}
/*
.neiimage{
    height: 350px;
    width: 100%;
}
*/
.neipara{
    margin-left: 60px;
    margin-top: 10px;
    color: #fff;
    
}
.neibutton{
    margin-left: 60px;
    background-color: #FFCA28;
    border-color: #fff;
    padding: 2px 2px;
    text-align: center;
    font-size: 17px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 16px;
    width: 114px;
    height: 40px;
    color: #fff;
}
.neilimg{
    width: 100%;
    padding: 0;
    height: 350px;
    vertical-align: baseline;
    padding-left:
}
.neilcol{
    padding: 0;
}
#natelec{
    height: 350px;
    margin-top: 30px;
    background-color: #00baff;
}
.logoimg{
    width: 180px;
    height: 50%;    
}
.logosection{
    background-color: #fff;
    padding: 13px
}
.logoborder{
    border-right: 1px solid #b1b1b1;
    border-width: 2px;
    
    
}
.logoimg1{
    width: 210px;
    padding-top: 40px;
    padding-bottom: 35px;
    padding-left: 23px;
    height: 
}
.logoimg2{
    width: 160px;
    padding: 3px;
    padding-right: 23px;
    margin-left: 40px;
    padding-bottom: 7px;
}
.logoimg3{
    width: 200px;
    padding: 13px;
    padding-top: 30px;
    margin-left: 20px;
    padding-bottom: 13px;
}
.logoimg4{
    width: 130px;
    padding-left: 19px;
    padding-top: 10px;
    margin-left: 45px;
}
.offers{
    margin-left: 60px;
    margin-top: 10px;
    color: #fff;
    padding-top: 50px;
    font-size: 35px;
}
.offerpara{
    margin-left: 60px;
    margin-top: 10px;
    color: #fff;
    padding-top: 20px;
}
.offerbutton1{
    margin-left: 40px;
    background-color: #000000;
    border-color: #fff;
    padding: 2px 2px;
    text-align: center;
    font-size: 17px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 16px;
    width: 144px;
    height: 40px;
    color: #fff;
}
.offerss{
    height: 350px;
    background-color: #e51d2d;
}
.offerbutton2{
    background-color: #FFCA28;
    border-color: #fff;
    padding: 2px 2px;
    text-align: center;
    font-size: 17px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 16px;
    width: 144px;
    height: 40px;
    color: #fff;
}
.offersimage{
    padding: 0;
    height: 350px;
    vertical-align: baseline;
}
.offersimg{
    padding: 0;
    width: 100%;
    height: 350px;
    vertical-align: baseline;
}

/*footer*/

.footer{
    background-color: #332c2c;
    height: auto;
    margin-top: 30px;
    padding-bottom: 30px;
}
.star{
    width: 08%
}
.h4footer{
    color: #FFCA28;
    padding-top: 40px;
}
.footli{
    font-size: 15px;
    color: #f0f0f0;   
}
a:hover, a:focus{
    color: #FFCA28;
}
.footli1{
    font-size: 9.4px;
    color: #f0f0f0;
}
.footer1{
    background-color: #E65100;
    color: #f0f0f0;
    height: auto;
}
.footer1par{
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*about us page*/

#backimg{
     padding: 3%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}
.backimg:after{
    opacity: .6;
   
}
.abouthead{
    position: relative;
    text-align: center;
    box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 black
    
}
.aboutpargr{
   text-align: center;
   font-size: 20px;
}

/* PROJECTS PAGE*/

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/*products page*/
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.productsimage123{
    width: 100%;
    height: 550px;
}
.slideprod {display:none}
.demo {cursor:pointer}
.itemselect1{
    width: 40%;
}
.itemselect2{
    width: 40%;
}
.postfix1{
    background-color: #FFCA28;
    color: #fff;
    padding: 4px;    
}
.topspacing{
    padding-top: 60px;
}
.prod1head{
    color: #e51d2d;
    font-size: 30px
}
.prod2head{
    font-size: 15px;
}
#Description{
    border: 0.2px solid #c1c1c1;
    
}
.description{
    margin-top: 50px;    
}

.descword{
    width: 100%;
    padding: 13px;
    text-align: left;
    padding-left: 15px;
    
}
.demo{
   border: 0.9px solid #c1c1c1; 
}
.mySlides{
    border: 0.9px solid #c1c1c1;
    margin-bottom: 20px;
}
#Description:after{
    background-color: #e51d2d;
}
#list2{
    padding-top: 40px;
}